/*  your css code here. If applicable */
body {
	
	background-image: url("https://wallpapercave.com/wp/m8wqdGZ.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#lists{
    background:white;
    display:flex;
	justify-content:space-around;
	
}
